/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  margin: 0 auto;
  height: 100px;
}

.cardBack{
  visibility: hidden;
}

#war{
  visibility: hidden;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
